<div id="storeNew" class="reveal-modal" data-reveal aria-labelledby="modalTitle"
 aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Add a new storage unit</h2>
  <%= form_for :food_stores do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Create" %>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
